{% extends "base.html" %}

{% block content %}
<h1>Edit Post</h1>
<form action="/posts/{{post.id}}/edit" method="POST">
    <p>Title:    
        <input name="post-title"
               value="{{ post.post_title }}"
               required>
    </p>
    <p>Content:     
        <input name="post-content" 
               value="{{ post.post_content }}"
               required>
    </p>
    
    {% for tag in tags %}
    <input type="checkbox" name="{{tag.name}}">
    <label for="{{tag.name}}">{{tag.name}}</label>
    {% endfor %}

    <p><a href="/posts/{{ post.id }}"> Cancel </a></p>
    <button type="submit">Edit</button>
</form>
{% endblock %}