{% extends "base.html" %}

{% block content %}
<h1>Edit user</h1>
<form action="/users/{{user.id}}/edit" method="POST">
    <p>First Name:    
        <input name="first-name"
               value="{{ user.first_name }}"
               required>
    </p>
    <p>Last Name:     
        <input name="last-name" 
               value="{{ user.last_name }}"
               required>
    </p>
    <p>Image URL:     
        <input type="url" 
               name="image-url" 
               value="{{ user.image_url }}"></p>
    <p><a href="/users/{{ user.id }}"> Cancel </a></p>
    <button type="submit">Save</button>
</form>
{% endblock %}